build/
dist/
doc/typedoc/
doc/typedoc-devel/
node_modules/

yarn-error.log
package-lock.json
build-info.json

packages/mapray/tests/report.html

browser-test/report/
browser-test/results/

.idea
.vscode
.DS_Store

## pyenv
.python-version
